@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Admin Stored Shoes</h1>
    <p class="lead">Click en el boton para ver productos</p>
    <hr class="my-4">
    <p class="lead">
       @* <a class="btn btn-primary btn-lg" href="<%= Url.Action("","Index", "Productos") %>" role ="button">Productos </a>*@
    </p>
</div>